# MediaWiki bot package
# https://pypi.org/project/pywikibot/
# https://www.mediawiki.org/wiki/Manual:Pywikibot
pywikibot==5.4.0
# Mwclient API
# https://pypi.org/project/mwclient/
mwclient
#https://pypi.org/project/pycrypto/
pycrypto
# https://pypi.org/project/GitPython/
gitpython
