# MediaWiki bot package
# https://pypi.org/project/pywikibot/
# https://www.mediawiki.org/wiki/Manual:Pywikibot
pywikibot~=7.3
# pywikibot dependency
wikitextparser~=0.47.5
# pywikibot dependency
mwparserfromhell~=0.6.4
# Mwclient API
# https://pypi.org/project/mwclient/
mwclient~=0.10.1
#https://pypi.org/project/pycrypto/
#pycrypto
# https://pypi.org/project/pycryptodome/
pycryptodome~=3.12.0
# https://pypi.org/project/GitPython/
gitpython
# https://pypi.org/project/pylodstorage/
pylodstorage~=0.4.7
# https://pypi.org/project/Jinja2/
jinja2
